modules/footer.pug
include ../layout/mixins

footer.footer
  .container
    .row
      .col-12.col-sm-12.col-md-7.col-lg-7.col-xl-7
        ul.f-navi.clearfix
          li.f-navi-item
            a.f-navi-link(href="#") О нас   
          li.f-navi-item
            a.f-navi-link(href="#") Туры
          li.f-navi-item
            a.f-navi-link(href="#") Страны
          li.f-navi-item.active
            a.f-navi-link(href="#") Контакты
      
      .col-12.col-sm-12.col-md-5.col-lg-5.col-xl-5
        .copyright
          | Good Time Travel 2019 ©
      

modules/footer.html

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <ul class="f-navi clearfix">
          <li class="f-navi-item"><a class="f-navi-link" href="#">О нас   </a></li>
          <li class="f-navi-item"><a class="f-navi-link" href="#">Туры</a></li>
          <li class="f-navi-item"><a class="f-navi-link" href="#">Страны</a></li>
          <li class="f-navi-item active"><a class="f-navi-link" href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
        <div class="copyright">Good Time Travel 2019 ©</div>
      </div>
    </div>
  </div>
</footer>
