account.pug
extends layout/main
include layout/mixins

block title
  | Аккаунт

block content
  section.account
    .container
      h1 константин <br /> константинопольский
      
      .account-box
        .row
          .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
            .account-box-inner
              .account-box-inner--col.w1
                p
                  strong Итого
              .account-box-inner--col
                p 
                  strong 11 
                  | из 
                  strong 57
                | правильных <br />ответов
              .account-box-inner--col
                p 
                  strong 30:56
                | затрачено <br />в ходе тестов
          .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.d-none.d-sm-none.d-md-none.d-lg-block.d-xl-block
            .social-row
              .row.align-items-center
                .col-6.col-lg-6.col-xl-6
                  .social-row-text поделитесь результатом <br />в социальных сетях
                  
                .col-6.col-lg-6.col-xl-6
                  ul.social-box.light-color
                    li
                      a.social-box-link.vk(href="#")
                    li
                      a.social-box-link.ok(href="#")
                    li
                      a.social-box-link.tw(href="#")
                    li
                      a.social-box-link.fb(href="#")      
        
    .results-tests
      .container
        h3 результаты тестирований
      .results-tests-row.title
        .container
          .results-tests-wrap
            .results-tests-col.w1 Название региона
            .results-tests-col.w3
              .results-tests-col.w2 Правильных ответов
              .results-tests-col.w2 Затраченное время
            .results-tests-col.w4 &nbsp;
      .results-tests-row
        .container
          .results-tests-wrap          
            .results-tests-col.w1 Австрия. Земля Зальцбург. город Зальцбург
            .results-tests-col.w3
              .results-tests-col.w2 8 
                span из 
                | 10
              .results-tests-col.w2 05:28
            .results-tests-col.w4
              a.btn-primary(href="#") перейти к региону
      .results-tests-row
        .container
          .results-tests-wrap          
            .results-tests-col.w1 Австрия. Земля Зальцбург. город Зальцбург
            .results-tests-col.w3
              .results-tests-col.w2 8 
                span из 
                | 10
              .results-tests-col.w2 05:28
            .results-tests-col.w4
              a.btn-primary(href="#") перейти к региону
      .results-tests-row
        .container
          .results-tests-wrap          
            .results-tests-col.w1 Австрия. Земля Зальцбург. город Зальцбург
            .results-tests-col.w3
              .results-tests-col.w2 8 
                span из 
                | 10
              .results-tests-col.w2 05:28
            .results-tests-col.w4
              a.btn-primary(href="#") перейти к региону
    .container  
      .account-box.d-block.d-sm-block.d-md-block.d-lg-none.d-xl-none
        .social-row
          .row.align-items-center
            .col-12
              .social-row-text поделитесь результатом <br />в социальных сетях
              
            .col-12
              ul.social-box.light-color
                li
                  a.social-box-link.vk(href="#")
                li
                  a.social-box-link.ok(href="#")
                li
                  a.social-box-link.tw(href="#")
                li
                  a.social-box-link.fb(href="#")
      
    .results-tests
      .container
        h3 глобальный рейтинг      
      .results-tests-row.title
        .container
          .results-tests-wrap
            .results-tests-col.w5 Место
            .results-tests-col.w6 Имя участника
            .results-tests-col.w7 
              .results-tests-col.w2 Правильных ответов
              .results-tests-col.w2 Затраченное время
      .results-tests-row.active
        .container
          .results-tests-wrap        
            .results-tests-col.w5 1
            .results-tests-col.w6 Константин Константинопольский
            .results-tests-col.w7
              .results-tests-col.w2
                strong 57 
                | из 
                strong 57
              .results-tests-col.w2 45:28
      .results-tests-row
        .container
          .results-tests-wrap        
            .results-tests-col.w5 2
            .results-tests-col.w6 Константин Константинопольский
            .results-tests-col.w7
              .results-tests-col.w2
                strong 57 
                | из 
                strong 57
              .results-tests-col.w2 45:28
      .results-tests-row
        .container
          .results-tests-wrap        
            .results-tests-col.w5 3
            .results-tests-col.w6 Константин Константинопольский
            .results-tests-col.w7
              .results-tests-col.w2
                strong 57 
                | из 
                strong 57
              .results-tests-col.w2 45:28

_ski-academy.ru/resources/account.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Аккаунт
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap-grid.min.css" rel="stylesheet">
    <link href="styles/slick.css" rel="stylesheet">
    <link href="styles/jquery.fancybox.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/mobile.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="main">
      <header class="header">
        <div class="container">
          <div class="header-row"><a class="logo" href="#"><img class="img-fluid" src="images/logotype.png" alt="logo"></a>
                  <ul class="navi">
                    <li class="navi-item active"><a class="navi-link" href="#">Главная  </a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Курорты</a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Личный кабинет</a></li>
                    <li class="navi-item navi-item-exit"><a class="navi-link" href="#">Выйти</a></li>
                  </ul><a class="btn-primary w-border" href="#">выйти</a><a class="btn-navi" href="#"></a>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="wrap-page"></div>
        <section class="account">
          <div class="container">
            <h1>константин <br /> константинопольский</h1>
            <div class="account-box">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="account-box-inner">
                    <div class="account-box-inner--col w1">
                      <p><strong>Итого</strong></p>
                    </div>
                    <div class="account-box-inner--col">
                      <p> <strong>11 </strong>из <strong>57</strong></p>правильных <br />ответов
                    </div>
                    <div class="account-box-inner--col">
                      <p> <strong>30:56</strong></p>затрачено <br />в ходе тестов
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 d-none d-sm-none d-md-none d-lg-block d-xl-block">
                  <div class="social-row">
                    <div class="row align-items-center">
                      <div class="col-6 col-lg-6 col-xl-6">
                        <div class="social-row-text">поделитесь результатом <br />в социальных сетях</div>
                      </div>
                      <div class="col-6 col-lg-6 col-xl-6">
                        <ul class="social-box light-color">
                          <li><a class="social-box-link vk" href="#"></a></li>
                          <li><a class="social-box-link ok" href="#"></a></li>
                          <li><a class="social-box-link tw" href="#"></a></li>
                          <li><a class="social-box-link fb" href="#">     </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="results-tests">
            <div class="container">
              <h3>результаты тестирований</h3>
            </div>
            <div class="results-tests-row title">
              <div class="container">
                <div class="results-tests-wrap">
                  <div class="results-tests-col w1">Название региона</div>
                  <div class="results-tests-col w3">
                    <div class="results-tests-col w2">Правильных ответов</div>
                    <div class="results-tests-col w2">Затраченное время</div>
                  </div>
                  <div class="results-tests-col w4">&nbsp;</div>
                </div>
              </div>
            </div>
            <div class="results-tests-row">
              <div class="container">
                <div class="results-tests-wrap">         
                  <div class="results-tests-col w1">Австрия. Земля Зальцбург. город Зальцбург</div>
                  <div class="results-tests-col w3">
                    <div class="results-tests-col w2">8 <span>из </span>10</div>
                    <div class="results-tests-col w2">05:28</div>
                  </div>
                  <div class="results-tests-col w4"><a class="btn-primary" href="#">перейти к региону</a></div>
                </div>
              </div>
            </div>
            <div class="results-tests-row">
              <div class="container">
                <div class="results-tests-wrap">         
                  <div class="results-tests-col w1">Австрия. Земля Зальцбург. город Зальцбург</div>
                  <div class="results-tests-col w3">
                    <div class="results-tests-col w2">8 <span>из </span>10</div>
                    <div class="results-tests-col w2">05:28</div>
                  </div>
                  <div class="results-tests-col w4"><a class="btn-primary" href="#">перейти к региону</a></div>
                </div>
              </div>
            </div>
            <div class="results-tests-row">
              <div class="container">
                <div class="results-tests-wrap">         
                  <div class="results-tests-col w1">Австрия. Земля Зальцбург. город Зальцбург</div>
                  <div class="results-tests-col w3">
                    <div class="results-tests-col w2">8 <span>из </span>10</div>
                    <div class="results-tests-col w2">05:28</div>
                  </div>
                  <div class="results-tests-col w4"><a class="btn-primary" href="#">перейти к региону</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="container"> 
            <div class="account-box d-block d-sm-block d-md-block d-lg-none d-xl-none">
              <div class="social-row">
                <div class="row align-items-center">
                  <div class="col-12">
                    <div class="social-row-text">поделитесь результатом <br />в социальных сетях</div>
                  </div>
                  <div class="col-12">
                    <ul class="social-box light-color">
                      <li><a class="social-box-link vk" href="#"></a></li>
                      <li><a class="social-box-link ok" href="#"></a></li>
                      <li><a class="social-box-link tw" href="#"></a></li>
                      <li><a class="social-box-link fb" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="results-tests">
            <div class="container">
              <h3>глобальный рейтинг      </h3>
            </div>
            <div class="results-tests-row title">
              <div class="container">
                <div class="results-tests-wrap">
                  <div class="results-tests-col w5">Место</div>
                  <div class="results-tests-col w6">Имя участника</div>
                  <div class="results-tests-col w7"> 
                    <div class="results-tests-col w2">Правильных ответов</div>
                    <div class="results-tests-col w2">Затраченное время</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="results-tests-row active">
              <div class="container">
                <div class="results-tests-wrap">       
                  <div class="results-tests-col w5">1</div>
                  <div class="results-tests-col w6">Константин Константинопольский</div>
                  <div class="results-tests-col w7">
                    <div class="results-tests-col w2"><strong>57 </strong>из <strong>57</strong></div>
                    <div class="results-tests-col w2">45:28</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="results-tests-row">
              <div class="container">
                <div class="results-tests-wrap">       
                  <div class="results-tests-col w5">2</div>
                  <div class="results-tests-col w6">Константин Константинопольский</div>
                  <div class="results-tests-col w7">
                    <div class="results-tests-col w2"><strong>57 </strong>из <strong>57</strong></div>
                    <div class="results-tests-col w2">45:28</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="results-tests-row">
              <div class="container">
                <div class="results-tests-wrap">       
                  <div class="results-tests-col w5">3</div>
                  <div class="results-tests-col w6">Константин Константинопольский</div>
                  <div class="results-tests-col w7">
                    <div class="results-tests-col w2"><strong>57 </strong>из <strong>57</strong></div>
                    <div class="results-tests-col w2">45:28</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
              <ul class="f-navi clearfix">
                <li class="f-navi-item"><a class="f-navi-link" href="#">О нас   </a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Туры</a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Страны</a></li>
                <li class="f-navi-item active"><a class="f-navi-link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
              <div class="copyright">Good Time Travel 2019 ©</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
