_ski-academy.ru/resources/austria_1-old.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Австрия
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap-grid.min.css" rel="stylesheet">
    <link href="styles/slick.css" rel="stylesheet">
    <link href="styles/jquery.fancybox.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/mobile.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="main">
      <header class="header">
        <div class="container">
          <div class="header-row"><a class="logo" href="#"><img class="img-fluid" src="images/logotype.png" alt="logo"></a>
                  <ul class="navi">
                    <li class="navi-item active"><a class="navi-link" href="#">Главная  </a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Курорты</a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Личный кабинет</a></li>
                    <li class="navi-item navi-item-exit"><a class="navi-link" href="#">Выйти</a></li>
                  </ul><a class="btn-primary w-border" href="#">выйти</a><a class="btn-navi" href="#"></a>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="wrap-page"></div>
        <section class="country">
          <div class="country-header" style="background: url(content/bg-country.jpg) center top no-repeat;">
            <div class="container">
              <div class="country-header-wrap">
                <div class="country-header-l"><a class="country-arrow lf" href="#"><span>австрия. земля тироль. <br /></span>долина пацаун</a></div>
                <div class="country-header-c">
                  <h1>Австрия</h1>
                  <div class="country-header-subtitle">Земля Тироль. Долина Пацнаун</div>
                </div>
                <div class="country-header-r"><a class="country-arrow rg" href="#"><span>далее к франция. <br /></span>курорт валь торанс</a></div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="country-text">
              <h2>перевалочный пункт <br /> для горнолыжников</h2>
              <div class="text-slider">
                <div>
                  <div class="text-slider-item">
                    <div class="row">
                      <div class="col-6 col-lg-6 col-xl-6">
                        <p>Зальцбург — старинный европейский городок. В состав Австрии он вошел по историческим меркам недавно, и это наложило отпечаток на архитектуру, культуру и даже кулинарные традиции. Туристов сюда привлекают узкие улочки города и затейливые барочные фасады древних зданий, особенно живописные с вершины Фестунгберг, к которой ведет канатная дорога. Наряду с привычными музеями и галереями, тут есть несколько интерактивных экспозиций.</p>
                      </div>
                      <div class="col-6 col-lg-6 col-xl-6">
                        <p>Зимой Зальцбург становится отправной точкой для лыжников, стремящихся на курорты австрийских Альп.</p>
                        <p>Своего рода символ города — знаменитый на весь мир композитор Вольфганг Амадей Моцарт. Место, где он родился, — одна из главных туристических достопримечательностей. Именем музыканта-виртуоза названы не только улицы, площади и выставки, но и многочисленные кофейни, магазины, конфеты и даже ликер.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="text-slider-item">
                    <div class="row">
                      <div class="col-6 col-lg-6 col-xl-6">
                        <p>Зальцбург — старинный европейский городок. В состав Австрии он вошел по историческим меркам недавно, и это наложило отпечаток на архитектуру, культуру и даже кулинарные традиции. Туристов сюда привлекают узкие улочки города и затейливые барочные фасады древних зданий, особенно живописные с вершины Фестунгберг, к которой ведет канатная дорога. Наряду с привычными музеями и галереями, тут есть несколько интерактивных экспозиций.</p>
                      </div>
                      <div class="col-6 col-lg-6 col-xl-6">
                        <p>Зимой Зальцбург становится отправной точкой для лыжников, стремящихся на курорты австрийских Альп.</p>
                        <p>Своего рода символ города — знаменитый на весь мир композитор Вольфганг Амадей Моцарт. Место, где он родился, — одна из главных туристических достопримечательностей. Именем музыканта-виртуоза названы не только улицы, площади и выставки, но и многочисленные кофейни, магазины, конфеты и даже ликер.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="fancy-slider">
                <div><a class="fancybox" href="content/photo-m.jpg" data-fancybox="gallery"><img class="img-fluid" src="content/photo-m.jpg" alt=""></a></div>
                <div><a class="fancybox" href="content/photo-m.jpg" data-fancybox="gallery"><img class="img-fluid" src="content/photo-m.jpg" alt=""></a></div>
                <div><a class="fancybox" href="content/photo-m.jpg" data-fancybox="gallery"><img class="img-fluid" src="content/photo-m.jpg" alt=""></a></div>
                <div><a class="fancybox" href="content/photo-m.jpg" data-fancybox="gallery"><img class="img-fluid" src="content/photo-m.jpg" alt=""></a></div>
                <div><a class="fancybox" href="content/photo-m.jpg" data-fancybox="gallery"><img class="img-fluid" src="content/photo-m.jpg" alt=""></a></div>
                <div><a class="fancybox" href="content/photo-m.jpg" data-fancybox="gallery"><img class="img-fluid" src="content/photo-m.jpg" alt=""></a></div>
                <div><a class="fancybox" href="content/photo-m.jpg" data-fancybox="gallery"><img class="img-fluid" src="content/photo-m.jpg" alt=""></a></div>
                <div><a class="fancybox" href="content/photo-m.jpg" data-fancybox="gallery"><img class="img-fluid" src="content/photo-m.jpg" alt=""></a></div>
              </div>
            </div>
            <div class="country-things">
              <h2>чем заняться?</h2>
              <div class="row country-things-row">
                <div class="col-7 col-lg-7 col-xl-7">
                  <h4>рождество в зальцбурге</h4>
                  <p>В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.</p>
                  <p>Старинный Зальцбург (Salzburg) в зимнее время романтичен и тих. Сказочные улицы, покрытые снегом, выглядят словно театральные декорации к традиционным яслям, адвентским рынкам и вездесущей рождественской музыке.</p>
                  <p>Совместите зимний праздник в Зальцбурге с поездкой в горы. Бесплатный лыжный трансфер доставит вас с комфортом в международную лыжную зону «Snow Space Salzburg». Шаттл-бусы будут курсировать Зальцбург — Флахау ежедневно – с 21 декабря 2019 г. по 23 марта 2020 г., в сопровождении опытных гидов. Гиды организуют на месте приобретение ски-пассов и прокат инвентаря. Лыжников отвезут в область Флахау – это в 70 км от Зальцбурга. Там расположена зона Ski Amadé. Протяжённость её лыжных трасс составляет 860 км.</p>
                </div>
                <div class="col-5 col-lg-5 col-xl-5"><img class="img-fluid" src="content/photo-g.jpg" alt=""></div>
              </div>
              <div class="row country-things-row">
                <div class="col-5 col-lg-5 col-xl-5"><img class="img-fluid" src="content/photo-g.jpg" alt=""></div>
                <div class="col-6 col-lg-6 col-xl-6">
                  <h4>Ski Shuttle</h4>
                  <p>В зимний сезон с 8 декабря по 2 апреля рейсовые автобусы и шаттлы компаний Fly Ski Shuttle, Orio Shuttle и Flexibus будут курсировать по субботам и воскресеньям из аэропортов Вероны, Бергамо, Милана, Венеции и Тревизо, а также некоторых крупных городов севера Италии на самые известные горнолыжные курорты провинции Трентино.</p>
                  <p>Благодаря сотрудничеству с транспортной компанией Orio Shuttle маршрутная сеть еще больше расширилась – среди аэропортов, откуда быстро и удобно можно попасть на популярные горнолыжные курорты в Доломитах, появился самый крупный аэропорт Милана – Malpensa. Бронировать поездки нужно заранее в Интернете: www.flyskishuttle.com.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-7 col-lg-7 col-xl-7">
                  <h4>Достопримечательности круглый год</h4>
                  <p>В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.</p>
                  <p>Старинный Зальцбург (Salzburg) в зимнее время романтичен и тих. Сказочные улицы, покрытые снегом, выглядят словно театральные декорации к традиционным яслям, адвентским рынкам и вездесущей рождественской музыке.</p>
                  <p>Совместите зимний праздник в Зальцбурге с поездкой в горы. Бесплатный лыжный трансфер доставит вас с комфортом в международную лыжную зону «Snow Space Salzburg». Шаттл-бусы будут курсировать Зальцбург — Флахау ежедневно – с 21 декабря 2019 г. по 23 марта 2020 г., в сопровождении опытных гидов. Гиды организуют на месте приобретение ски-пассов и прокат инвентаря. Лыжников отвезут в область Флахау – это в 70 км от Зальцбурга. Там расположена зона Ski Amadé. Протяжённость её лыжных трасс составляет 860 км.</p>
                </div>
                <div class="col-5 col-lg-5 col-xl-5"><img class="img-fluid" src="content/photo-g.jpg" alt=""></div>
              </div>
            </div>
          </div>
          <div class="testing-block">
            <div class="testing-block-pic"><img class="img-fluid" src="content/photo-article1.jpg" alt=""></div>
            <div class="container">
              <div class="row">
                <div class="col-5 col-lg-5 col-xl-5">
                  <h3>тестирование</h3>
                  <p>Проверьте свои знания относительно Зальцбурга в нашем тестировании. Тестирование покажет, насколько            хорошо вы подготовлены для продажи туров по этому направлению, а также даст вам преимущество перед другими, так как результатами тестирования можно поделиться в социальных сетях, а мы подтвердим что вы действительно успешно справились со всеми вопросам. </p><a class="btn-primary" href="#">начать тест     </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
              <ul class="f-navi clearfix">
                <li class="f-navi-item"><a class="f-navi-link" href="#">О нас   </a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Туры</a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Страны</a></li>
                <li class="f-navi-item active"><a class="f-navi-link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
              <div class="copyright">Good Time Travel 2019 ©</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

austria_1-old.pug
extends layout/main
include layout/mixins

block title
  | Австрия

block content
  section.country
    .country-header(style="background: url(content/bg-country.jpg) center top no-repeat;")
      .container
        .country-header-wrap
          .country-header-l
            a.country-arrow.lf(href="#")
              span австрия. земля тироль. <br />
              | долина пацаун
          .country-header-c
            h1 Австрия
            .country-header-subtitle Земля Тироль. Долина Пацнаун
          .country-header-r
            a.country-arrow.rg(href="#")
              span далее к франция. <br />
              | курорт валь торанс
    .container
      .country-text
        h2 перевалочный пункт <br /> для горнолыжников
        
        .text-slider
          div
            .text-slider-item
              .row
                .col-6.col-lg-6.col-xl-6
                  p Зальцбург — старинный европейский городок. В состав Австрии он вошел по историческим меркам недавно, и это наложило отпечаток на архитектуру, культуру и даже кулинарные традиции. Туристов сюда привлекают узкие улочки города и затейливые барочные фасады древних зданий, особенно живописные с вершины Фестунгберг, к которой ведет канатная дорога. Наряду с привычными музеями и галереями, тут есть несколько интерактивных экспозиций.
                .col-6.col-lg-6.col-xl-6
                  p Зимой Зальцбург становится отправной точкой для лыжников, стремящихся на курорты австрийских Альп.

                  p Своего рода символ города — знаменитый на весь мир композитор Вольфганг Амадей Моцарт. Место, где он родился, — одна из главных туристических достопримечательностей. Именем музыканта-виртуоза названы не только улицы, площади и выставки, но и многочисленные кофейни, магазины, конфеты и даже ликер.
          div
            .text-slider-item
              .row
                .col-6.col-lg-6.col-xl-6
                  p Зальцбург — старинный европейский городок. В состав Австрии он вошел по историческим меркам недавно, и это наложило отпечаток на архитектуру, культуру и даже кулинарные традиции. Туристов сюда привлекают узкие улочки города и затейливые барочные фасады древних зданий, особенно живописные с вершины Фестунгберг, к которой ведет канатная дорога. Наряду с привычными музеями и галереями, тут есть несколько интерактивных экспозиций.
                .col-6.col-lg-6.col-xl-6
                  p Зимой Зальцбург становится отправной точкой для лыжников, стремящихся на курорты австрийских Альп.

                  p Своего рода символ города — знаменитый на весь мир композитор Вольфганг Амадей Моцарт. Место, где он родился, — одна из главных туристических достопримечательностей. Именем музыканта-виртуоза названы не только улицы, площади и выставки, но и многочисленные кофейни, магазины, конфеты и даже ликер.
                  
        .fancy-slider
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
          div
            a.fancybox(href="content/photo-m.jpg" data-fancybox="gallery")
              img(src="content/photo-m.jpg" alt="" class="img-fluid")
                
      .country-things
        h2 чем заняться?
        
        .row.country-things-row
          .col-7.col-lg-7.col-xl-7
            h4 рождество в зальцбурге
            p В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.

            p Старинный Зальцбург (Salzburg) в зимнее время романтичен и тих. Сказочные улицы, покрытые снегом, выглядят словно театральные декорации к традиционным яслям, адвентским рынкам и вездесущей рождественской музыке.

            p Совместите зимний праздник в Зальцбурге с поездкой в горы. Бесплатный лыжный трансфер доставит вас с комфортом в международную лыжную зону «Snow Space Salzburg». Шаттл-бусы будут курсировать Зальцбург — Флахау ежедневно – с 21 декабря 2019 г. по 23 марта 2020 г., в сопровождении опытных гидов. Гиды организуют на месте приобретение ски-пассов и прокат инвентаря. Лыжников отвезут в область Флахау – это в 70 км от Зальцбурга. Там расположена зона Ski Amadé. Протяжённость её лыжных трасс составляет 860 км.

          .col-5.col-lg-5.col-xl-5
            img(src="content/photo-g.jpg" alt="" class="img-fluid")
              
        .row.country-things-row
          .col-5.col-lg-5.col-xl-5
            img(src="content/photo-g.jpg" alt="" class="img-fluid")
          .col-6.col-lg-6.col-xl-6
            h4 Ski Shuttle
            
            p В зимний сезон с 8 декабря по 2 апреля рейсовые автобусы и шаттлы компаний Fly Ski Shuttle, Orio Shuttle и Flexibus будут курсировать по субботам и воскресеньям из аэропортов Вероны, Бергамо, Милана, Венеции и Тревизо, а также некоторых крупных городов севера Италии на самые известные горнолыжные курорты провинции Трентино.

            p Благодаря сотрудничеству с транспортной компанией Orio Shuttle маршрутная сеть еще больше расширилась – среди аэропортов, откуда быстро и удобно можно попасть на популярные горнолыжные курорты в Доломитах, появился самый крупный аэропорт Милана – Malpensa. Бронировать поездки нужно заранее в Интернете: www.flyskishuttle.com.
            
        .row
          .col-7.col-lg-7.col-xl-7
            h4 Достопримечательности круглый год
            
            p В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.

            p Старинный Зальцбург (Salzburg) в зимнее время романтичен и тих. Сказочные улицы, покрытые снегом, выглядят словно театральные декорации к традиционным яслям, адвентским рынкам и вездесущей рождественской музыке.

            p Совместите зимний праздник в Зальцбурге с поездкой в горы. Бесплатный лыжный трансфер доставит вас с комфортом в международную лыжную зону «Snow Space Salzburg». Шаттл-бусы будут курсировать Зальцбург — Флахау ежедневно – с 21 декабря 2019 г. по 23 марта 2020 г., в сопровождении опытных гидов. Гиды организуют на месте приобретение ски-пассов и прокат инвентаря. Лыжников отвезут в область Флахау – это в 70 км от Зальцбурга. Там расположена зона Ski Amadé. Протяжённость её лыжных трасс составляет 860 км.

          .col-5.col-lg-5.col-xl-5
            img(src="content/photo-g.jpg" alt="" class="img-fluid")
      
    .testing-block
      .testing-block-pic
        img(src="content/photo-article1.jpg" alt="" class="img-fluid")
      .container
        .row
          .col-5.col-lg-5.col-xl-5
            h3 тестирование
            p Проверьте свои знания относительно Зальцбурга в нашем тестировании. Тестирование покажет, насколько            хорошо вы подготовлены для продажи туров по этому направлению, а также даст вам преимущество перед другими, так как результатами тестирования можно поделиться в социальных сетях, а мы подтвердим что вы действительно успешно справились со всеми вопросам. 
            
            a.btn-primary(href="#") начать тест     
          
          
