_ski-academy.ru/resources/austria_1.1.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Австрия
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap-grid.min.css" rel="stylesheet">
    <link href="styles/slick.css" rel="stylesheet">
    <link href="styles/jquery.fancybox.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/mobile.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="main">
      <header class="header">
        <div class="container">
          <div class="header-row"><a class="logo" href="#"><img class="img-fluid" src="images/logotype.png" alt="logo"></a>
                  <ul class="navi">
                    <li class="navi-item active"><a class="navi-link" href="#">Главная  </a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Курорты</a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Личный кабинет</a></li>
                    <li class="navi-item navi-item-exit"><a class="navi-link" href="#">Выйти</a></li>
                  </ul><a class="btn-primary w-border" href="#">выйти</a><a class="btn-navi" href="#"></a>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="wrap-page"></div>
        <section class="country" style="background: url(content/bg-country.jpg) center top no-repeat;">
          <div class="container">
            <div class="country-header">
              <h1>Австрия</h1>
              <div class="country-header-subtitle">Земля Тироль. Долина Пацнаун</div>
            </div>
            <div class="country-things">
              <h2>чем заняться?</h2>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                  <div class="country-things--item">
                    <h4> <a class="fancybox" href="#art-popup">рождество в зальцбурге</a></h4><a class="country-things--item-pic fancybox" style="background: url(content/bg-country.jpg) center top no-repeat;" href="#art-popup"></a>
                    <p>В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.</p>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                  <div class="country-things--item">
                    <h4> <a class="fancybox" href="#art-popup">Ski Shuttle</a></h4><a class="country-things--item-pic fancybox" style="background: url(content/bg-country.jpg) center top no-repeat;" href="#art-popup"></a>
                    <p>В зимний сезон с 8 декабря по 2 апреля рейсовые автобусы и шаттлы компаний Fly Ski Shuttle, Orio Shuttle и Flexibus будут курсировать по субботам и воскресеньям из аэропортов Вероны, Бергамо, Милана, Венеции и Тревизо.</p>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                  <div class="country-things--item">
                    <h4> <a class="fancybox" href="#art-popup">Достопримечательности</a></h4><a class="country-things--item-pic fancybox" style="background: url(content/bg-country.jpg) center top no-repeat;" href="#art-popup"></a>
                    <p>В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-more"><a class="btn-primary w-font" href="#">начать тестирование</a></div>
          </div>
          <div class="popup popup-article" id="art-popup">
            <div class="popup-article--pic"> <img class="img-fluid" src="content/photo-article4.jpg" alt=""></div>
            <div class="popup-article--text">
              <h3>рождество в зальцбурге</h3>
              <p>В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.</p>
              <p>Старинный Зальцбург (Salzburg) в зимнее время романтичен и тих. Сказочные улицы, покрытые снегом, выглядят словно театральные декорации к традиционным яслям, адвентским рынкам и вездесущей рождественской музыке.</p>
              <p>Совместите зимний праздник в Зальцбурге с поездкой в горы. Бесплатный лыжный трансфер доставит вас с комфортом в международную лыжную зону «Snow Space Salzburg». Шаттл-бусы будут курсировать Зальцбург — Флахау ежедневно – с 21 декабря 2019 г. по 23 марта 2020 г., в сопровождении опытных гидов. Гиды организуют на месте приобретение ски-пассов и прокат инвентаря. Лыжников отвезут в область Флахау – это в 70 км от Зальцбурга. Там расположена зона Ski Amadé. Протяжённость её лыжных трасс составляет 860 км.</p>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
              <ul class="f-navi clearfix">
                <li class="f-navi-item"><a class="f-navi-link" href="#">О нас   </a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Туры</a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Страны</a></li>
                <li class="f-navi-item active"><a class="f-navi-link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
              <div class="copyright">Good Time Travel 2019 ©</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

austria_1.1.pug
extends layout/main
include layout/mixins

block title
  | Австрия

block content
  section.country(style="background: url(content/bg-country.jpg) center top no-repeat;")
    .container
      .country-header
        h1 Австрия
        .country-header-subtitle Земля Тироль. Долина Пацнаун

      .country-things
        h2 чем заняться?
        
        .row
          .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4
            .country-things--item
              h4 
                a.fancybox(href="#art-popup") рождество в зальцбурге
            
              a.country-things--item-pic.fancybox(style="background: url(content/bg-country.jpg) center top no-repeat;" href="#art-popup")
            
              p В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.
          .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4
            .country-things--item
              h4 
                a.fancybox(href="#art-popup") Ski Shuttle
            
              a.country-things--item-pic.fancybox(style="background: url(content/bg-country.jpg) center top no-repeat;" href="#art-popup")
            
              p В зимний сезон с 8 декабря по 2 апреля рейсовые автобусы и шаттлы компаний Fly Ski Shuttle, Orio Shuttle и Flexibus будут курсировать по субботам и воскресеньям из аэропортов Вероны, Бергамо, Милана, Венеции и Тревизо.
          .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4
            .country-things--item
              h4 
                a.fancybox(href="#art-popup") Достопримечательности
            
              a.country-things--item-pic.fancybox(style="background: url(content/bg-country.jpg) center top no-repeat;" href="#art-popup")
            
              p В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.
      .btn-more
        a.btn-primary.w-font(href="#") начать тестирование
      
    .popup.popup-article#art-popup
      .popup-article--pic 
        img(src="content/photo-article4.jpg" alt="" class="img-fluid")
      .popup-article--text
        h3 рождество в зальцбурге
        
        p В Рождество в Зальцбурге открываются Рождественские рынки, где вы можете попробовать традиционные местные блюда — горячий картофель, пончики с травами, и обязательно конфеты, а также приобрести елочные украшения, изделия местных ремесленников и зимнюю одежду.

        p Старинный Зальцбург (Salzburg) в зимнее время романтичен и тих. Сказочные улицы, покрытые снегом, выглядят словно театральные декорации к традиционным яслям, адвентским рынкам и вездесущей рождественской музыке.

        p Совместите зимний праздник в Зальцбурге с поездкой в горы. Бесплатный лыжный трансфер доставит вас с комфортом в международную лыжную зону «Snow Space Salzburg». Шаттл-бусы будут курсировать Зальцбург — Флахау ежедневно – с 21 декабря 2019 г. по 23 марта 2020 г., в сопровождении опытных гидов. Гиды организуют на месте приобретение ски-пассов и прокат инвентаря. Лыжников отвезут в область Флахау – это в 70 км от Зальцбурга. Там расположена зона Ski Amadé. Протяжённость её лыжных трасс составляет 860 км.

        
        
