austria_2.1.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Австрия
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap-grid.min.css" rel="stylesheet">
    <link href="styles/slick.css" rel="stylesheet">
    <link href="styles/jquery.fancybox.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/mobile.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="main">
      <header class="header">
        <div class="container">
          <div class="header-row"><a class="logo" href="#"><img class="img-fluid" src="images/logotype.png" alt="logo"></a>
                  <ul class="navi">
                    <li class="navi-item active"><a class="navi-link" href="#">Главная  </a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Курорты</a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Личный кабинет</a></li>
                    <li class="navi-item navi-item-exit"><a class="navi-link" href="#">Выйти</a></li>
                  </ul><a class="btn-primary w-border" href="#">выйти</a><a class="btn-navi" href="#"></a>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="wrap-page"></div>
        <section class="country" style="background: url(content/bg-country.jpg) center top no-repeat;">
          <div class="container">
            <div class="country-header">
              <h1>Австрия</h1>
              <div class="country-header-subtitle">Земля Тироль. Долина Пацнаун</div>
            </div>
          </div>
          <div class="country-map">
            <div class="container">
              <div class="country-map-header">
                <h3>Курорт Каппль </h3><a class="btn-primary w-font d-none d-sm-none d-md-block d-lg-block d-xl-block" href="#">далее</a>
              </div>
            </div>
            <div class="country-map-row"><img class="img-fluid" src="content/map.jpg" alt=""></div>
            <div class="container"><a class="btn-primary w-font d-block d-sm-block d-md-none d-lg-none d-xl-none" href="#">далее</a></div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
              <ul class="f-navi clearfix">
                <li class="f-navi-item"><a class="f-navi-link" href="#">О нас   </a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Туры</a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Страны</a></li>
                <li class="f-navi-item active"><a class="f-navi-link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
              <div class="copyright">Good Time Travel 2019 ©</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

austria_2.1.pug
extends layout/main
include layout/mixins

block title
  | Австрия

block content
  section.country(style="background: url(content/bg-country.jpg) center top no-repeat;")
    .container
      .country-header
        h1 Австрия
        .country-header-subtitle Земля Тироль. Долина Пацнаун

    .country-map
      .container
        .country-map-header
          h3 Курорт Каппль 
          a.btn-primary.w-font.d-none.d-sm-none.d-md-block.d-lg-block.d-xl-block(href="#") далее
      .country-map-row
        img(src="content/map.jpg" alt="" class="img-fluid")
      .container
        a.btn-primary.w-font.d-block.d-sm-block.d-md-none.d-lg-none.d-xl-none(href="#") далее
