enter-page.pug
extends layout/enter-main
include layout/mixins

block title
  | Главная страница

block content
  section.main-box
    .main-box-wrap
      .container
        .main-box-title
          | горнолыжная</br >
          | академия
          span от </br >
            strong Good</br >
              | Time</br >
              | Travel
        #scene
          .main-box--cloud-l(data-depth="0.8")
          .main-box--cloud-r(data-depth="0.5")
        .main-box-buttons
          a.btn-primary.fancybox(href="#enter-popup") вход
          a.btn-primary.fancybox(href="#register-popup") регистрация
    
    .popup#enter-popup
      .popup-form
        .popup-title вход на сайт
        .popup-subtitle Спасибо что вернулись к нам!
        
        form(method='POST' action='')
          .form-b-row
            .form-b-label Электронная почта
            input.form-b-inp(type="text" placeholder="")
          .form-b-row
            .form-b-label Пароль
            .form-b-wrap
              input.form-b-inp(type="password" placeholder="")
              
              .check-item
                label.check-item-label(for="id")
                  input(type="checkbox" id="id")
                  span.check-item-dot
                  span.check-item-name Запомнить  
          .popup-forgot
            a(href="#") Забыли пароль?
          .popup-buttons
            button.btn-primary(type="submit") войти
    
    .popup#register-popup
      .popup-form
        .popup-title регистрация
        .popup-subtitle Пройдите быструю регистрацию, <br /> чтобы получить доступ к порталу и тестам
        
        form(method='POST' action='')
          .form-b-row
            .form-b-label Имя
            input.form-b-inp(type="text" placeholder="Иван")
          .form-b-row
            .form-b-label Фамилия
            input.form-b-inp(type="text" placeholder="Иванов")
          .form-b-row
            .form-b-label Электронная почта
            input.form-b-inp(type="text" placeholder="example@example.com")
          .form-b-row
            .form-b-label Пароль
            input.form-b-inp(type="password" placeholder="Только латинские буквы и цифры")
          .popup-buttons
            button.btn-primary(type="submit") зарегистрироваться

enter-page.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Главная страница
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap-grid.min.css" rel="stylesheet">
    <link href="styles/slick.css" rel="stylesheet">
    <link href="styles/jquery.fancybox.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/mobile.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="main m-page">
      <section class="main-box">
        <div class="main-box-wrap">
          <div class="container">
            <div class="main-box-title">
              горнолыжная</br >
              академия<span>от </br ><strong>
                  Good</br >Time</br >
                  Travel</strong></span>
            </div>
            <div id="scene">
              <div class="main-box--cloud-l" data-depth="0.8"></div>
              <div class="main-box--cloud-r" data-depth="0.5"></div>
            </div>
            <div class="main-box-buttons"><a class="btn-primary fancybox" href="#enter-popup">вход</a><a class="btn-primary fancybox" href="#register-popup">регистрация</a></div>
          </div>
        </div>
        <div class="popup" id="enter-popup">
          <div class="popup-form">
            <div class="popup-title">вход на сайт</div>
            <div class="popup-subtitle">Спасибо что вернулись к нам!</div>
            <form method="POST" action="">
              <div class="form-b-row">
                <div class="form-b-label">Электронная почта</div>
                <input class="form-b-inp" type="text" placeholder="">
              </div>
              <div class="form-b-row">
                <div class="form-b-label">Пароль</div>
                <div class="form-b-wrap">
                  <input class="form-b-inp" type="password" placeholder="">
                  <div class="check-item">
                    <label class="check-item-label" for="id">
                      <input type="checkbox" id="id"><span class="check-item-dot"></span><span class="check-item-name">Запомнить  </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="popup-forgot"><a href="#">Забыли пароль?</a></div>
              <div class="popup-buttons">
                <button class="btn-primary" type="submit">войти</button>
              </div>
            </form>
          </div>
        </div>
        <div class="popup" id="register-popup">
          <div class="popup-form">
            <div class="popup-title">регистрация</div>
            <div class="popup-subtitle">Пройдите быструю регистрацию, <br /> чтобы получить доступ к порталу и тестам</div>
            <form method="POST" action="">
              <div class="form-b-row">
                <div class="form-b-label">Имя</div>
                <input class="form-b-inp" type="text" placeholder="Иван">
              </div>
              <div class="form-b-row">
                <div class="form-b-label">Фамилия</div>
                <input class="form-b-inp" type="text" placeholder="Иванов">
              </div>
              <div class="form-b-row">
                <div class="form-b-label">Электронная почта</div>
                <input class="form-b-inp" type="text" placeholder="example@example.com">
              </div>
              <div class="form-b-row">
                <div class="form-b-label">Пароль</div>
                <input class="form-b-inp" type="password" placeholder="Только латинские буквы и цифры">
              </div>
              <div class="popup-buttons">
                <button class="btn-primary" type="submit">зарегистрироваться</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
              <ul class="f-navi clearfix">
                <li class="f-navi-item"><a class="f-navi-link" href="#">О нас   </a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Туры</a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Страны</a></li>
                <li class="f-navi-item active"><a class="f-navi-link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
              <div class="copyright">Good Time Travel 2019 ©</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
