index.pug
extends layout/main
include layout/mixins

block title
  | Главная страница

block content
  section.article
    .container
      .row
        .col-12.col-sm-7.col-md-7.col-lg-7.col-xl-7.order-2.order-sm-1.order-md-1.order-lg-1.order-xl-1
          h1 горнолыжная академия
          
          p На сегодняшний день компания 
            strong GOOD TIME TRAVEL 
            | — крупнейший многопрофильный туроператор Северо-Западного Федерального округа, способный безупречно организовывать увлекательные вояжи по всему миру. 

          p Два современных офиса в Санкт-Петербурге, офис в Ростове-на-Дону, представительства в Новосибирске и Екатеринбурге.

          p Основная цель нашей деятельности заключается в удовлетворении растущих запросов российского туриста с ориентацией на предпочтения знающих и бывалых путешественников. Если у вас осталось мало чистых страниц в загранпаспорте – мы готовы приятно удивить вас принципиально новыми турами, во время которых даже хорошо знакомые места предстанут перед вами в ином более привлекательном виде.
          
          p Туроператор GOOD TIME TRAVEL – <br /> с нами можно хоть на Северный Полюс!
          
          a.btn-primary.w-font(href="#") к выбору курорта
        .col-12.col-sm-5.col-md-5.col-lg-5.col-xl-5.order-1.order-sm-2.order-md-2.order-lg-2.order-xl-2
          .article-pic.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block
            img(src="content/photo-article.jpg" alt="" class="img-fluid")
          .article-pic.d-block.d-sm-none.d-md-none.d-lg-none.d-xl-none
            img(src="content/photo-article-mobile.jpg" alt="" class="img-fluid")
      
  section.choice-country 
    .container
      h2 выберите страну и регион
      
      .choice-slider
        +slide
        +slide
        +slide    
                     
  
      
        

      

index.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Главная страница
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap-grid.min.css" rel="stylesheet">
    <link href="styles/slick.css" rel="stylesheet">
    <link href="styles/jquery.fancybox.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/mobile.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="main">
      <header class="header">
        <div class="container">
          <div class="header-row"><a class="logo" href="#"><img class="img-fluid" src="images/logotype.png" alt="logo"></a>
                  <ul class="navi">
                    <li class="navi-item active"><a class="navi-link" href="#">Главная  </a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Курорты</a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Личный кабинет</a></li>
                    <li class="navi-item navi-item-exit"><a class="navi-link" href="#">Выйти</a></li>
                  </ul><a class="btn-primary w-border" href="#">выйти</a><a class="btn-navi" href="#"></a>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="wrap-page"></div>
        <section class="article">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7 order-2 order-sm-1 order-md-1 order-lg-1 order-xl-1">
                <h1>горнолыжная академия</h1>
                <p>На сегодняшний день компания <strong>GOOD TIME TRAVEL </strong>— крупнейший многопрофильный туроператор Северо-Западного Федерального округа, способный безупречно организовывать увлекательные вояжи по всему миру. </p>
                <p>Два современных офиса в Санкт-Петербурге, офис в Ростове-на-Дону, представительства в Новосибирске и Екатеринбурге.</p>
                <p>Основная цель нашей деятельности заключается в удовлетворении растущих запросов российского туриста с ориентацией на предпочтения знающих и бывалых путешественников. Если у вас осталось мало чистых страниц в загранпаспорте – мы готовы приятно удивить вас принципиально новыми турами, во время которых даже хорошо знакомые места предстанут перед вами в ином более привлекательном виде.</p>
                <p>Туроператор GOOD TIME TRAVEL – <br /> с нами можно хоть на Северный Полюс!</p><a class="btn-primary w-font" href="#">к выбору курорта</a>
              </div>
              <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 order-1 order-sm-2 order-md-2 order-lg-2 order-xl-2">
                <div class="article-pic d-none d-sm-block d-md-block d-lg-block d-xl-block"><img class="img-fluid" src="content/photo-article.jpg" alt=""></div>
                <div class="article-pic d-block d-sm-none d-md-none d-lg-none d-xl-none"><img class="img-fluid" src="content/photo-article-mobile.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </section>
        <section class="choice-country"> 
          <div class="container">
            <h2>выберите страну и регион</h2>
            <div class="choice-slider">
                    <div>
                      <div class="slider-item">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                            <div class="slider-item-photo" style="background: url(content/photo.jpg) center no-repeat;"></div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                            <div class="slider-item-box">
                              <div class="slider-item-title"><span>Австрия</span>Земля Зальцбург. город Зальцбург</div>
                              <div class="slider-item-descr">
                                <div>
                                   Река Зальцах делит Зальцбург на два района – левобережный пешеходный Старый город, который славится зданиями, возведенными в Средние века и в эпоху барокко, и правобережный Новый город, построенный в XIX веке. Река Зальцах делит Зальцбург на два района – левобережный пешеходный Старый город, который славится зданиями, возведенными в Средние века и в эпоху барокко, и правобережный Новый город, построенный в XIX веке.</div>
                              </div><a class="btn-primary" href="#">подробнее</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="slider-item">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                            <div class="slider-item-photo" style="background: url(content/photo.jpg) center no-repeat;"></div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                            <div class="slider-item-box">
                              <div class="slider-item-title"><span>Австрия</span>Земля Зальцбург. город Зальцбург</div>
                              <div class="slider-item-descr">
                                <div>
                                   Река Зальцах делит Зальцбург на два района – левобережный пешеходный Старый город, который славится зданиями, возведенными в Средние века и в эпоху барокко, и правобережный Новый город, построенный в XIX веке. Река Зальцах делит Зальцбург на два района – левобережный пешеходный Старый город, который славится зданиями, возведенными в Средние века и в эпоху барокко, и правобережный Новый город, построенный в XIX веке.</div>
                              </div><a class="btn-primary" href="#">подробнее</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="slider-item">
                        <div class="row">
                          <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                            <div class="slider-item-photo" style="background: url(content/photo.jpg) center no-repeat;"></div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                            <div class="slider-item-box">
                              <div class="slider-item-title"><span>Австрия</span>Земля Зальцбург. город Зальцбург</div>
                              <div class="slider-item-descr">
                                <div>
                                   Река Зальцах делит Зальцбург на два района – левобережный пешеходный Старый город, который славится зданиями, возведенными в Средние века и в эпоху барокко, и правобережный Новый город, построенный в XIX веке. Река Зальцах делит Зальцбург на два района – левобережный пешеходный Старый город, который славится зданиями, возведенными в Средние века и в эпоху барокко, и правобережный Новый город, построенный в XIX веке.</div>
                              </div><a class="btn-primary" href="#">подробнее</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
              <ul class="f-navi clearfix">
                <li class="f-navi-item"><a class="f-navi-link" href="#">О нас   </a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Туры</a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Страны</a></li>
                <li class="f-navi-item active"><a class="f-navi-link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
              <div class="copyright">Good Time Travel 2019 ©</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
