results.pug
extends layout/main
include layout/mixins

block title
  | Результаты

block content
  section.results
    .container
      h1 Австрия
      .results-subtitle Земля Тироль. Долина Пацнаун
      
      .row
        .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.order-2.order-sm-2.order-md-2.order-lg-1.order-xl-1
          .row
            .col-6
              a.results-box.clock(href="#")
                span.results-box--descr затраченное <br /> время
                span.results-box--data 
                  strong 10:25
                
            .col-6
              a.results-box.answ(href="#")
                span.results-box--descr правильные <br /> ответы
                span.results-box--data 
                  strong 8 
                  | из 
                  strong 10
        .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.order-1.order-sm-1.order-md-1.order-lg-2.order-xl-2
          .results-text
            h3 поздравляем,<br /> вы неплохо справились!
            p Вы успешно ответили на большинство вопросов теста, вы можете попробовать пройти тест заново и улучшить свои показатели, лбио вернуться на главную и попробовать себя в других регионах.
            
          .results-f-col.d-none.d-sm-none.d-md-none.d-lg-block.d-xl-block
            .results-buttons
              .row
                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                  a.btn-primary(href="#") пройти заново
                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                  a.btn-primary(href="#") Вернуться на главную
                    
            .social-row
              .row.align-items-center
                .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
                  .social-row-text поделитесь результатом <br />в социальных сетях
                  
                .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
                  ul.social-box
                    li
                      a.social-box-link.vk(href="#")
                    li
                      a.social-box-link.ok(href="#")
                    li
                      a.social-box-link.tw(href="#")
                    li
                      a.social-box-link.fb(href="#")
        
      .results-f-col.d-block.d-sm-block.d-md-block.d-lg-none.d-xl-none
        .results-buttons
          .row
            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
              a.btn-primary(href="#") пройти заново
            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
              a.btn-primary(href="#") Вернуться на главную
                
        .social-row
          .row.align-items-center
            .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
              .social-row-text поделитесь результатом <br />в социальных сетях
              
            .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
              ul.social-box
                li
                  a.social-box-link.vk(href="#")
                li
                  a.social-box-link.ok(href="#")
                li
                  a.social-box-link.tw(href="#")
                li
                  a.social-box-link.fb(href="#")        

_ski-academy.ru/resources/results.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Результаты
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap-grid.min.css" rel="stylesheet">
    <link href="styles/slick.css" rel="stylesheet">
    <link href="styles/jquery.fancybox.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/mobile.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="main">
      <header class="header">
        <div class="container">
          <div class="header-row"><a class="logo" href="#"><img class="img-fluid" src="images/logotype.png" alt="logo"></a>
                  <ul class="navi">
                    <li class="navi-item active"><a class="navi-link" href="#">Главная  </a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Курорты</a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Личный кабинет</a></li>
                    <li class="navi-item navi-item-exit"><a class="navi-link" href="#">Выйти</a></li>
                  </ul><a class="btn-primary w-border" href="#">выйти</a><a class="btn-navi" href="#"></a>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="wrap-page"></div>
        <section class="results">
          <div class="container">
            <h1>Австрия</h1>
            <div class="results-subtitle">Земля Тироль. Долина Пацнаун</div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-2 order-sm-2 order-md-2 order-lg-1 order-xl-1">
                <div class="row">
                  <div class="col-6"><a class="results-box clock" href="#"><span class="results-box--descr">затраченное <br /> время</span><span class="results-box--data"> <strong>10:25</strong></span></a></div>
                  <div class="col-6"><a class="results-box answ" href="#"><span class="results-box--descr">правильные <br /> ответы</span><span class="results-box--data"> <strong>8 </strong>из <strong>10</strong></span></a></div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-1 order-sm-1 order-md-1 order-lg-2 order-xl-2">
                <div class="results-text">
                  <h3>поздравляем,<br /> вы неплохо справились!</h3>
                  <p>Вы успешно ответили на большинство вопросов теста, вы можете попробовать пройти тест заново и улучшить свои показатели, лбио вернуться на главную и попробовать себя в других регионах.</p>
                </div>
                <div class="results-f-col d-none d-sm-none d-md-none d-lg-block d-xl-block">
                  <div class="results-buttons">
                    <div class="row">
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><a class="btn-primary" href="#">пройти заново</a></div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><a class="btn-primary" href="#">Вернуться на главную</a></div>
                    </div>
                  </div>
                  <div class="social-row">
                    <div class="row align-items-center">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="social-row-text">поделитесь результатом <br />в социальных сетях</div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <ul class="social-box">
                          <li><a class="social-box-link vk" href="#"></a></li>
                          <li><a class="social-box-link ok" href="#"></a></li>
                          <li><a class="social-box-link tw" href="#"></a></li>
                          <li><a class="social-box-link fb" href="#"></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="results-f-col d-block d-sm-block d-md-block d-lg-none d-xl-none">
              <div class="results-buttons">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><a class="btn-primary" href="#">пройти заново</a></div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><a class="btn-primary" href="#">Вернуться на главную</a></div>
                </div>
              </div>
              <div class="social-row">
                <div class="row align-items-center">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="social-row-text">поделитесь результатом <br />в социальных сетях</div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <ul class="social-box">
                      <li><a class="social-box-link vk" href="#"></a></li>
                      <li><a class="social-box-link ok" href="#"></a></li>
                      <li><a class="social-box-link tw" href="#"></a></li>
                      <li><a class="social-box-link fb" href="#">       </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
              <ul class="f-navi clearfix">
                <li class="f-navi-item"><a class="f-navi-link" href="#">О нас   </a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Туры</a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Страны</a></li>
                <li class="f-navi-item active"><a class="f-navi-link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
              <div class="copyright">Good Time Travel 2019 ©</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
