_ski-academy.ru/resources/test-question-active.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Тесты
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="styles/bootstrap-grid.min.css" rel="stylesheet">
    <link href="styles/slick.css" rel="stylesheet">
    <link href="styles/jquery.fancybox.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
    <link href="styles/mobile.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="main">
      <header class="header">
        <div class="container">
          <div class="header-row"><a class="logo" href="#"><img class="img-fluid" src="images/logotype.png" alt="logo"></a>
                  <ul class="navi">
                    <li class="navi-item active"><a class="navi-link" href="#">Главная  </a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Курорты</a></li>
                    <li class="navi-item"><a class="navi-link" href="#">Личный кабинет</a></li>
                    <li class="navi-item navi-item-exit"><a class="navi-link" href="#">Выйти</a></li>
                  </ul><a class="btn-primary w-border" href="#">выйти</a><a class="btn-navi" href="#"></a>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="wrap-page"></div>
        <section class="quiz">
          <div class="container">
            <h1>Австрия</h1>
            <div class="quiz-subtitle">земля тироль. долина пацнаун</div>
            <div class="quiz-row">
              <div class="quiz-row-title">Вопрос <strong>1 </strong>из <strong>10</strong></div>
              <div class="timer">Осталось <strong>15:42</strong></div>
            </div>
            <div class="quiz-progress"><span style="width: 88px;"></span></div>
            <form method="POST" action="">
              <div class="quiz-question">Какие зоны катания между собой соединены <br /> системой канатов?</div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <button class="quiz-button active">Зоны катания Дорфгастайн и Спортгастайн</button>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <button class="quiz-button">Все зоны катания и этой долине соединены между собой подъемниками</button>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <button class="quiz-button">Зоны катания курортов Бад Хофгастайн и Бад Гастайн</button>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <button class="quiz-button">Все зоны катания соединяет между собой только бесплатный лыжный автобус</button>
                </div>
              </div>
              <button class="btn-primary">Следующий вопрос</button>
            </form>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
              <ul class="f-navi clearfix">
                <li class="f-navi-item"><a class="f-navi-link" href="#">О нас   </a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Туры</a></li>
                <li class="f-navi-item"><a class="f-navi-link" href="#">Страны</a></li>
                <li class="f-navi-item active"><a class="f-navi-link" href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
              <div class="copyright">Good Time Travel 2019 ©</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

test-question-active.pug
extends layout/main
include layout/mixins

block title
  | Тесты

block content
  section.quiz
    .container
      h1 Австрия
      .quiz-subtitle земля тироль. долина пацнаун
      
      .quiz-row
        .quiz-row-title Вопрос 
          strong 1 
          | из 
          strong 10
        
        .timer Осталось 
          strong 15:42
      .quiz-progress
        span(style="width: 88px;")
          
      form(method='POST' action='')
        .quiz-question Какие зоны катания между собой соединены <br /> системой канатов?
          
        .row
          .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
            button.quiz-button.active Зоны катания Дорфгастайн и Спортгастайн
          .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
            button.quiz-button Все зоны катания и этой долине соединены между собой подъемниками
          .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
            button.quiz-button Зоны катания курортов Бад Хофгастайн и Бад Гастайн
          .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
            button.quiz-button Все зоны катания соединяет между собой только бесплатный лыжный автобус
        button.btn-primary Следующий вопрос
