_ski-academy.ru/resources/modules/header.html

<header class="header">
  <div class="container">
    <div class="header-row"><a class="logo" href="#"><img class="img-fluid" src="images/logotype.png" alt="logo"/></a>
      <ul class="navi">
        <li class="navi-item active"><a class="navi-link" href="#">Главная  </a></li>
        <li class="navi-item"><a class="navi-link" href="#">Курорты</a></li>
        <li class="navi-item"><a class="navi-link" href="#">Личный кабинет</a></li>
        <li class="navi-item navi-item-exit"><a class="navi-link" href="#">Выйти</a></li>
      </ul><a class="btn-primary w-border" href="#">выйти</a><a class="btn-navi" href="#"></a>
    </div>
  </div>
</header>

_ski-academy.ru/resources/modules/header.pug
include ../layout/mixins

header.header
  .container
    .header-row
      a.logo(href="#")
        img(src="images/logotype.png" alt="logo" class="img-fluid")

      +navi
        
      a.btn-primary.w-border(href="#") выйти
      a.btn-navi(href="#")
